---
import FaqAccordion from '../ui/FaqAccordion.astro'
import { useTranslations } from '../../i18n/utils'
import type { Lang } from '../../i18n/languages'

interface Props {
	lang: Lang
}
const { lang } = Astro.props
const t = useTranslations(lang)
const faq = t('faqPage')
---

<section class="section bg-ivory pt-0">
	<div class="container-max">
		<FaqAccordion items={faq.items} />
	</div>
</section>
